## ü•â Bronze Layer

### üîß Import Functions

In [1]:
import pandas as pd
import datetime
import os

### ‚öôÔ∏è Setup the Variables

In [2]:
cwd = os.getcwd()
print(f'File Path: {cwd}')

folder = 'Hogwarts_Student_Data'

data_path = os.path.join(cwd, folder)
print(f'Folder Path: {data_path}')

File Path: c:\Users\Hans\OneDrive\Documents\CSULB\Sem 1\640 Python\ETL
Folder Path: c:\Users\Hans\OneDrive\Documents\CSULB\Sem 1\640 Python\ETL\Hogwarts_Student_Data

### üìÇ Retrieve All Files from the Folder

In [3]:
folder_files = os.listdir(data_path)
for file in folder_files:
    print(file)

Hogwarts_Student_Data_20240101.csv
Hogwarts_Student_Data_20240201.csv
Hogwarts_Student_Data_20240301.csv
Hogwarts_Student_Data_20240401.csv
Hogwarts_Student_Data_20240501.csv
Hogwarts_Student_Data_20240601.csv

### üßê Preview the First 5 Rows of the First CSV File

In [4]:
df_1 = pd.read_csv(os.path.join(data_path, 'Hogwarts_Student_Data_20240101.csv'))

df_1.head()

,Student Name,House,Year,Wand Type,Pet,Potions Grade,Defense Against the Dark Arts Grade,Transfiguration Grade,Spells Learned,Quidditch Position,Points Earned for House,Detentions,Participation in Dueling Club,Triwizard Tournament Involvement,Items Owned,Knuts Spent in Hogsmeade,Attendance at Classes,Magical Accidents
0,Seamus Potter,Slytherin,2,"9 inches, elm, veela hair core",Dragon,Outstanding,Exceeds Expectations,Outstanding,26,Beater,-100,3,No,No,"Time-Turner, Marauder's Map",88,74,5
1,Ginny Spinnet,Gryffindor,6,"9 inches, elm, veela hair core",Cat,Exceeds Expectations,Acceptable,Outstanding,11,Chaser,139,2,No,No,"Firebolt, Sneakoscope, Extendable Ears",99,67,6
2,Padma Parkinson,Gryffindor,4,"11 inches, holly, phoenix feather core",Muggle Born,Outstanding,Acceptable,Outstanding,19,Seeker,93,2,No,No,Invisibility Cloak,342,88,6
3,NaN,Ravenclaw,1,"12 inches, yew, unicorn hair core",Toad,Exceeds Expectations,Exceeds Expectations,Exceeds Expectations,16,Seeker,-73,2,No,NaN,Time-Turner,233,45,5
4,NaN,Ravenclaw,1,"10 inches, oak, dragon heartstring core",Owl,NaN,Outstanding,Exceeds Expectations,9,Keeper,90,0,No,Yes,"Marauder's Map, Sneakoscope",473,27,7

### üóÉÔ∏è Combine All the CSV Files

In [5]:
df_list = []

for file in folder_files:
    print(f'Reading File: {file}')
    df = pd.read_csv(os.path.join(data_path, file))
    df["fileName"] = file
    df["loadDateTimeStamp"] = datetime.datetime.now()
    df_list.append(df)
    
df = pd.concat(df_list, ignore_index=True)
print("All Files Read!‚úÖ")

Reading File: Hogwarts_Student_Data_20240101.csv
Reading File: Hogwarts_Student_Data_20240201.csv
Reading File: Hogwarts_Student_Data_20240301.csv
Reading File: Hogwarts_Student_Data_20240401.csv
Reading File: Hogwarts_Student_Data_20240501.csv
Reading File: Hogwarts_Student_Data_20240601.csv
All Files Read!‚úÖ

### üõ†Ô∏è Data Overview and Validation

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Student Name                         34560 non-null  object
 1   House                                44000 non-null  object
 2   Year                                 48000 non-null  int64
 3   Wand Type                            48000 non-null  object
 4   Pet                                  40054 non-null  object
 5   Potions Grade                        44560 non-null  object
 6   Defense Against the Dark Arts Grade  48000 non-null  object
 7   Transfiguration Grade                48000 non-null  object
 8   Spells Learned                       48000 non-null  int64
 9   Quidditch Position                   38496 non-null  object
 10  Points Earned for House              48000 non-null  int64
 11  Detentions                           48000 non-null  int64
 12  Participation in Dueling Club        48000 non-null  object
 13  Triwizard Tournament Involvement     42080 non-null  object
 14  Items Owned                          48000 non-null  object
 15  Knuts Spent in Hogsmeade             48000 non-null  int64
 16  Attendance at Classes                48000 non-null  int64
 17  Magical Accidents                    48000 non-null  int64
 18  fileName                             48000 non-null  object
 19  loadDateTimeStamp                    48000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(7), object(12)
memory usage: 7.3+ MB

### üíæ Save the Bronze Layer as Parquet

In [10]:
df.to_parquet('./Medallion Architecture/Bronze/Bronze.parquet', index=False)