## ü•à Silver Layer

### üì¶ Import the Necessary Packages

In [1]:
import pandas as pd
import numpy as np
import string
import datetime
import re

### üîÉ Load the Bronze Layer Data

In [2]:
df = pd.read_parquet('./Medallion Architecture/Bronze/Bronze.parquet')
df.head()

,Student Name,House,Year,Wand Type,Pet,Potions Grade,Defense Against the Dark Arts Grade,Transfiguration Grade,Spells Learned,Quidditch Position,Points Earned for House,Detentions,Participation in Dueling Club,Triwizard Tournament Involvement,Items Owned,Knuts Spent in Hogsmeade,Attendance at Classes,Magical Accidents,fileName,loadDateTimeStamp
0,Seamus Potter,Slytherin,2,"9 inches, elm, veela hair core",Dragon,Outstanding,Exceeds Expectations,Outstanding,26,Beater,-100,3,No,No,"Time-Turner, Marauder's Map",88,74,5,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
1,Ginny Spinnet,Gryffindor,6,"9 inches, elm, veela hair core",Cat,Exceeds Expectations,Acceptable,Outstanding,11,Chaser,139,2,No,No,"Firebolt, Sneakoscope, Extendable Ears",99,67,6,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
2,Padma Parkinson,Gryffindor,4,"11 inches, holly, phoenix feather core",Muggle Born,Outstanding,Acceptable,Outstanding,19,Seeker,93,2,No,No,Invisibility Cloak,342,88,6,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
3,None,Ravenclaw,1,"12 inches, yew, unicorn hair core",Toad,Exceeds Expectations,Exceeds Expectations,Exceeds Expectations,16,Seeker,-73,2,No,None,Time-Turner,233,45,5,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
4,None,Ravenclaw,1,"10 inches, oak, dragon heartstring core",Owl,None,Outstanding,Exceeds Expectations,9,Keeper,90,0,No,Yes,"Marauder's Map, Sneakoscope",473,27,7,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Student Name                         34560 non-null  object
 1   House                                44000 non-null  object
 2   Year                                 48000 non-null  int64
 3   Wand Type                            48000 non-null  object
 4   Pet                                  40054 non-null  object
 5   Potions Grade                        44560 non-null  object
 6   Defense Against the Dark Arts Grade  48000 non-null  object
 7   Transfiguration Grade                48000 non-null  object
 8   Spells Learned                       48000 non-null  int64
 9   Quidditch Position                   38496 non-null  object
 10  Points Earned for House              48000 non-null  int64
 11  Detentions                           48000 non-null  int64
 12  Participation in Dueling Club        48000 non-null  object
 13  Triwizard Tournament Involvement     42080 non-null  object
 14  Items Owned                          48000 non-null  object
 15  Knuts Spent in Hogsmeade             48000 non-null  int64
 16  Attendance at Classes                48000 non-null  int64
 17  Magical Accidents                    48000 non-null  int64
 18  fileName                             48000 non-null  object
 19  loadDateTimeStamp                    48000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(7), object(12)
memory usage: 7.3+ MB

### üßº Data Validation and Cleaning Functions

### ‚úÖ Check for Null Values

### 1. üèê Replace Nulls with the Most Frequent Column Value

In [4]:
def fill_nulls_with_most_frequent(df) -> pd.DataFrame:
    for col in df.columns:
        if df[col].isnull().any():
            most_frequent_value = df[col].value_counts().index[0]
            df[col] = df[col].fillna(most_frequent_value)
    return df

### 2.  ‚ú® Clean Punctuation Errors in `Quidditch Position`

In [5]:
def clean_quidditch_position(df):
    df['Quidditch Position'] = df['Quidditch Position'].str.replace(f"[{string.punctuation}\\\\]", "", regex=True)
    return df

### 3. üïµÔ∏è‚Äç‚ôÇÔ∏è Check for Misspellings in `Student Name`

In [6]:
def check_similarity(word1: str, word2: str) -> float:
    word_set1 = set(word1)
    word_set2 = set(word2)

    intersection = word_set1.intersection(word_set2)
    intersection_length = len(intersection)

    total_char_count = len(word_set1.union(word_set2))
    similarity =intersection_length / total_char_count
    return similarity

In [7]:
def check_misspelling(df: pd.DataFrame, column: str, threshold: float) -> pd.DataFrame:
    all_unique_values = list(set(df[column].tolist()))

    similarity_list = []

    for i in range(len(all_unique_values)):
        value1 = all_unique_values[i]
        for j in range(i + 1, len(all_unique_values)):
            value2 = all_unique_values[j]
            similarity = round(check_similarity(value1, value2),4)
            if similarity > threshold:
                similarity_list.append((value1, value2, similarity))
    return pd.DataFrame(similarity_list, columns=['Value 1', 'Value 2', 'Similarity'])

### 4. üè† Clean and Capitalize `House` Names

In [8]:
def clean_House(df):
    df['House'] = df['House'].str.lower()
    df['House'] = df['House'].apply(lambda x: x.capitalize())
    return df

### 5. ‚úçÔ∏è Correct Misspelled `Harry Potter` in `Student Name`

In [9]:
def generate_corrections_mapping(misspellings_df, correct_name):
    harry_potter_similarities = misspellings_df[
        (misspellings_df['Value 1'] == correct_name) | (misspellings_df['Value 2'] == correct_name)
    ]

    corrections = {}
    for _, row in harry_potter_similarities.iterrows():
        incorrect_name = row['Value 2'] if row['Value 1'] == correct_name else row['Value 1']
        corrections[incorrect_name] = correct_name

    return corrections

### 6. üîç Validate and Fix Data Types

In [10]:
def check_formats(df: pd.DataFrame, expected_formats: dict):
    incorrect_formats = []
    for column, datatype in df.dtypes.to_dict().items():
        expected_type = expected_formats.get(column)
        if datatype != expected_type:
            incorrect_formats.append((column, datatype, expected_type))
    
    incorrect_columns = [column[0] for column in incorrect_formats]
    correct_format_count = len([column for column in df.columns if column not in incorrect_columns])
    print(f'Correct Format Count: {correct_format_count} \nCorrect Columns: {[column for column in df.columns if column not in incorrect_columns]}')
    if incorrect_formats:
        print("Incorrect formats found! Format Validation Failed ‚ùå")
        print("Incorrect Formats:")
        return pd.DataFrame(incorrect_formats, columns=['Column Name', 'Current Format', 'Expected Format'])
    else:
        print("All formats are correct! Format Validation Successful ‚úÖ")

In [11]:
def convert_column_types(df: pd.DataFrame, col_types: dict):
    try:
        for column, datatype in col_types.items():
            df[column] = df[column].astype(datatype)
        return df
    except Exception as e:
        print(f"Error converting column types: {e}")
        return df

###  üöÄ Apply All Validations and Cleaning Steps

### üßπ 1. Remove All Nulls

In [12]:
print(df.isnull().sum())

Student Name                           13440
House                                   4000
Year                                       0
Wand Type                                  0
Pet                                     7946
Potions Grade                           3440
Defense Against the Dark Arts Grade        0
Transfiguration Grade                      0
Spells Learned                             0
Quidditch Position                      9504
Points Earned for House                    0
Detentions                                 0
Participation in Dueling Club              0
Triwizard Tournament Involvement        5920
Items Owned                                0
Knuts Spent in Hogsmeade                   0
Attendance at Classes                      0
Magical Accidents                          0
fileName                                   0
loadDateTimeStamp                          0
dtype: int64

In [13]:
df = fill_nulls_with_most_frequent(df)
df.isnull().sum()

Student Name                           0
House                                  0
Year                                   0
Wand Type                              0
Pet                                    0
Potions Grade                          0
Defense Against the Dark Arts Grade    0
Transfiguration Grade                  0
Spells Learned                         0
Quidditch Position                     0
Points Earned for House                0
Detentions                             0
Participation in Dueling Club          0
Triwizard Tournament Involvement       0
Items Owned                            0
Knuts Spent in Hogsmeade               0
Attendance at Classes                  0
Magical Accidents                      0
fileName                               0
loadDateTimeStamp                      0
dtype: int64

### ‚ú® 2. Clean Punctuation in `Quidditch Position`

In [14]:
df["Quidditch Position"].unique()

array(['Beater', 'Chaser', 'Seeker', 'Keeper', 'See;ker', 'Ch[aser',
       'K=eeper', 'C-haser', 'B_eater', 'Chase$r', 'K,eeper', 'B%eater',
       'Beat&er', 'K-eeper', 'Keep)er', 'Beate#r', 'Keep.er', 'Seek#er',
       'Ke^eper', 'S?eeker', 'Keepe_r', 'Keeper*', 'Keeper>', 'Keepe+r',
       'Ke-eper', 'Beater(', 'Kee[per', 'Ch`aser', 'C)haser', 'Ke@eper',
       'Seek=er', 'Beat\\er', 'Chase^r', "S'eeker", 'Beate.r', 'Keeper\\',
       'Keeper=', 'Se[eker', 'Ke`eper', "C'haser", 'Beate%r', 'Kee=per',
       'Chase(r', 'Bea-ter', 'Cha[ser', 'Se(eker', 'B{eater', 'Beate,r',
       'Keep|er', 'Keep"er', 'Keeper~', 'Seeker*', 'Seek(er', 'Beate<r',
       'See[ker', 'Beate\\r', 'Keeper,', 'Seeker;', 'Keeper[', 'Be]ater',
       'S[eeker', 'Kee*per', "Keeper'", 'Kee]per', 'Ch!aser', 'Chas@er',
       'Kee\\per', 'Seeke)r', 'K^eeper', 'Ch,aser', 'Chaser|', 'Chas,er',
       "B'eater", 'Beater^', 'Keepe#r', 'Keep}er', 'Ch?aser', 'Beate[r',
       'Kee?per', 'B-eater', 'K\\eeper', 'Cha)ser', 'Chas_er', 'Be|ater',
       'Se*eker', 'Chas=er', 'Beate}r', 'Ke:eper', 'B&eater', 'Ch$aser',
       'Ch-aser', 'Keeper]', 'See*ker', "Cha'ser", 'Keeper}', 'Be/ater',
       "Chas'er", 'Beate/r', 'Ke/eper', 'Chaser)', 'Keepe"r', 'Ke#eper',
       'B|eater', 'Chase@r', "Seeke'r", 'Be?ater', 'Kee!per', 'Se{eker',
       'Beat}er', 'Bea;ter', 'Chase*r', 'Seeke,r', 'Be.ater', 'Bea[ter',
       'S}eeker', 'Kee+per', 'Seek:er', 'Chase]r', 'Beater,', 'Chase;r',
       'Kee.per', 'Keep%er', 'Be#ater', 'Beater|', 'Keepe$r', 'S#eeker',
       'Seek+er', 'Chase#r', 'S+eeker', 'Beat@er', 'Keepe~r', 'See]ker',
       'Beate:r', 'Keepe>r', 'Bea|ter', 'Keep\\er', 'K<eeper', 'Keepe:r',
       'Seek@er', 'Be)ater', 'Chas|er', 'Cha%ser', 'Keepe<r', 'Seek<er',
       'Beat<er', "Beat'er", 'Keepe-r', 'Chase<r', 'Chas`er', 'Chaser\\',
       'See-ker', 'Ch@aser', 'Chase/r', 'Seeke<r', 'C?haser', 'Bea{ter',
       'Keepe/r', 'Bea(ter', 'Cha-ser', 'S!eeker', 'Beat"er', 'Beate_r',
       'See<ker', 'Seeke\\r', 'Chas%er', 'Seek.er', 'K!eeper', 'Se+eker',
       'See#ker', 'K?eeper', 'Keepe^r', 'Se/eker', 'C!haser', 'Beate$r',
       'Beat#er', 'C%haser', 'Seeker_', 'Keep&er', 'Beater+', 'Be{ater',
       'Chas*er', 'Beat.er', 'Ke"eper', 'C@haser', 'Bea.ter', 'Beater#',
       'K+eeper', 'Seek-er', 'Seeker&', 'Keepe\\r', 'Seek$er', 'Se|eker',
       'Beat)er', 'Be(ater', 'K[eeper', 'Beater)', 'Keeper$', 'Beate@r',
       'Cha{ser', 'Ch]aser', 'Se;eker', 'Seeker~', 'Cha"ser', 'Bea<ter',
       'Seeke&r', 'Kee"per', 'Beater}', 'Keepe=r', 'Seeke>r', 'C^haser',
       'S:eeker', 'Seeker=', 'Beat?er', 'Seek`er', 'Beate)r', 'Beate`r',
       'Bea]ter', 'Ch&aser', 'Se=eker', 'Seeker"', 'Be~ater', 'B!eater',
       'Ke(eper', 'Beat/er', 'Ch^aser', 'Beater;', 'Se!eker', 'C|haser',
       'See!ker', 'Keep^er', 'Se?eker', 'Keep!er', 'Seeker@', 'Seeker\\',
       'K&eeper', 'Keepe@r', 'B*eater', 'Chaser!', 'C<haser', "Ke'eper",
       'C_haser', 'Keeper{', 'C`haser', 'Chas)er', 'Cha<ser', 'Keep~er',
       'See}ker', 'Seek?er', 'Chase=r', 'Beat+er', 'Keepe|r', 'B}eater',
       'Ke!eper', 'B>eater', 'Seeke{r', 'S$eeker', 'B<eater', 'Seeke@r',
       'Chaser.', 'Seeke_r', 'Chaser^', 'Kee{per', 'Cha^ser', 'Seek;er',
       'See{ker', 'Seeker>', 'Chaser]', 'Se<eker', 'Ch)aser', 'Chaser?',
       'Beater@', 'Seek*er', 'Bea`ter', 'Chase)r', 'See|ker', 'Seeker(',
       'Kee;per', 'See/ker', 'K{eeper', 'Beate{r', 'Beater/', 'Seeker/',
       'Beater"', 'Ch>aser', 'S\\eeker', 'Beat{er', 'Be>ater', 'Chas#er',
       'S>eeker', 'C}haser', 'Bea*ter', 'Ch*aser', 'Keeper%', 'Bea=ter',
       'Beat=er', 'Chaser[', 'Chase\\r', 'Seeker-', 'Beate=r', 'See:ker',
       'Ke\\eper', 'K`eeper', 'C[haser', 'Cha?ser', 'Beat_er', 'C/haser',
       'Beate>r', 'Ke>eper', 'Beate]r', 'K(eeper', 'Kee}per', 'Seeker{',
       'S)eeker', 'Keeper-', 'Seeke^r', 'Be=ater', 'Ch}aser', 'Chase:r',
       'Bea_ter', 'Chas\\er', 'Se@eker', 'Se)eker', 'B"eater', 'Chas&er',
       'Cha;ser', 'B;eater', 'Chase}r', 'Chas.er', 'K%eeper', 'Beate^r',
       'Chase~r', 'Ch"aser', 'Ch/aser', 'S~eeker', 'Cha\\ser', 'Chas/er',
       'Ch%aser', 'Beate+r', 'Kee-per', 'Se,eker', 'S&eeker', 'Keepe]r',
       'K_eeper', 'Keep>er', 'Ke&eper', 'Beate;r', 'K;eeper', 'Kee@per',
       'Chase.r', 'Beat!er', 'Ke]eper', 'Chas{er', 'Chaser-', "K'eeper",
       'Seeke]r', 'Beat`er', 'Kee`per', 'Ke)eper', 'K)eeper', 'Kee$per',
       'K"eeper', 'Keeper&', 'Chase|r', 'See~ker', 'S=eeker', 'See)ker',
       'Cha|ser', 'Seeke#r', 'Keeper#', 'Keep(er', 'Ch<aser', 'Seeke[r',
       'Keeper;', 'S,eeker', 'Se:eker', 'Seeke"r', 'Seeker)', 'Bea$ter',
       'B[eater', 'Seeker|', 'C"haser', 'Be\\ater', 'Cha>ser', 'Be!ater',
       'Kee_per', 'Be:ater', 'K}eeper', 'Beater<', 'Bea>ter', 'Keep,er',
       'Chase_r', "Be'ater", 'Be+ater', 'Chase&r', 'Bea#ter', 'Keep$er',
       'Keeper|', 'Cha&ser', 'Keep*er', 'Seeker+', 'Keepe.r', 'Ke$eper',
       'Chaser%', "See'ker", 'Chas[er', 'Beate-r', 'Seek,er', 'Keep;er',
       'Ke}eper', 'Cha_ser', 'Bea"ter', 'B]eater', 'Chas<er', 'See^ker',
       "Se'eker", 'C.haser', 'Seeke*r', 'Chaser@', 'Chaser"', 'Bea~ter',
       'Be,ater', 'Chaser#', 'K:eeper', 'Beate*r', 'Kee~per', 'See=ker',
       "Bea'ter", 'Seek{er', 'B^eater', 'Se$eker', 'Keep?er', 'See?ker',
       'Keepe,r', 'Cha:ser', 'Keeper:', 'B.eater', 'Keep]er', 'Bea/ter',
       'Chaser*', 'S%eeker', 'B$eater', 'Bea}ter', 'Seeker,', 'Beater=',
       'B@eater', 'Seek}er', 'Keeper@', 'Cha@ser', 'Keeper^', 'See%ker',
       'Keepe`r', 'Cha}ser', "Seek'er", 'Chas(er', 'Be;ater', 'Bea?ter',
       'Keeper+', 'Be*ater', 'Chas"er', 'Se.eker', 'Be^ater', "Chase'r",
       'Beat>er', 'K]eeper', 'Ch_aser', 'Seeker[', 'Se^eker', 'C;haser',
       'Chase[r', 'Cha/ser', 'Chase"r', 'S{eeker', 'Beate"r', 'Cha*ser',
       'S|eeker', "Beate'r", 'Beate~r', 'See$ker', 'Beater%', "Keepe'r",
       'Seeke~r', 'Seek)er', 'Be}ater', 'Kee^per', 'Chaser}', 'See_ker',
       'Cha(ser', 'Beater>', 'Keeper`', 'Chas:er', 'Seek|er', 'Chaser/',
       'S^eeker', 'Kee,per', 'Keep/er', 'Ke;eper', 'See&ker', 'B`eater',
       'Kee<per', 'K#eeper', 'Ke,eper', 'Se>eker', 'Keeper?', 'See\\ker',
       'Seek/er', 'Keep_er', 'Beater:', 'Bea!ter', 'Beat^er', 'Keepe[r',
       'C=haser', 'Chase`r', 'Bea:ter', 'Chaser&', 'Seek[er', 'Seek>er',
       'Beat$er', 'Kee%per', 'C(haser', 'Chaser(', 'C]haser', 'Chase{r',
       'Beater_', 'Chaser<', 'Keep:er', 'Seeker^', "Keep'er", 'Ch;aser',
       'Keeper!', 'Beater.', 'Se\\eker', 'Chas-er', 'Beate(r', 'Be_ater',
       'Ch(aser', 'S"eeker', 'Chas?er', 'B=eater', 'Beater\\', 'Chaser>',
       'Chas>er', 'C~haser', 'Se-eker', 'Chas;er', 'Seeke+r', 'Chaser+',
       'Kee/per', 'Be@ater', 'Se`eker', 'Keepe}r', 'Chase?r', 'Chas!er',
       'Beater~', 'Bea+ter', 'Ke?eper', 'K@eeper', 'Seeker:', 'Seek\\er',
       'See`ker', 'Ch+aser', 'B:eater', 'See(ker', 'Ke*eper', 'C*haser',
       'Se&eker', 'Beater{', 'Ch#aser', 'K.eeper', 'C:haser', 'Chaser_',
       'Se}eker', 'S(eeker', 'Ke=eper', 'Chas$er', 'C#haser', 'Seeke.r',
       'Chase>r', "Ch'aser", 'S]eeker', 'Beat[er', 'Seek"er', 'S;eeker',
       'Chase-r', 'Ke|eper', 'Beater]', 'Keeper(', 'Cha!ser', 'Seeke:r',
       'Seeke(r', 'Bea,ter', 'Seeker%', 'Keeper"', 'Be"ater', 'Keepe;r',
       'See,ker', 'Be&ater', 'S.eeker', 'Keep`er', 'Beat|er', 'See>ker',
       'K/eeper', 'Beater$', 'Beat~er', 'Keeper_', 'Keeper.', 'Cha$ser',
       "Beater'", 'Bea\\ter', 'Ch.aser', 'Beat;er', 'Seek&er', 'Chase+r',
       'Be`ater', 'Keepe?r', 'Seek!er', 'Be-ater', 'C+haser', 'Chaser{',
       'Ch{aser', 'Beater&', 'Beater!', 'Keepe%r', 'Beat:er', 'Keep=er',
       'B,eater', 'S/eeker', 'Chaser:', 'Ke%eper', 'Keepe{r', 'K*eeper',
       'Seeker#', 'Keeper)', 'Seeke;r', "Seeker'", 'Kee(per', 'Beate!r',
       'Seek^er', 'Beater[', 'C&haser', 'Beat(er', 'Seeke`r', 'Kee&per',
       'Beate&r', 'Cha,ser', 'Chase%r', 'Beat%er', 'Keepe(r', 'Keep+er',
       'Keep[er', 'Chaser,', 'Bea%ter', 'Cha.ser', 'Chas~er', 'Ke~eper',
       'Kee:per', 'Seeker.', 'Cha]ser', 'K>eeper', 'Kee|per', 'Beat-er',
       'Keepe!r', 'Be[ater', 'Keepe)r', 'Ch\\aser', 'C{haser', 'Chas^er',
       'Beat,er', 'Seeke%r', 'Bea@ter', 'B(eater', 'Beater?', 'Keep#er',
       'Seeker?', 'Beater*', 'Seeke|r', 'Se"eker', 'Beater-', 'Seeker`',
       'Keepe&r', 'Beate|r', 'Beat*er', 'Seeke$r', 'Ke<eper', 'S`eeker',
       'Seeker}', 'Cha+ser', 'Ke+eper', 'Keep<er', 'Ch=aser', 'B~eater',
       'Cha`ser', 'Keep@er', 'Bea&ter', 'Keeper/', 'Seeke?r', 'Seeker]',
       'Chas+er', 'S-eeker', 'Seeke=r', 'Chaser$', 'Be$ater', 'See.ker',
       'Chaser`', 'S@eeker', 'Chas]er', 'B#eater', 'Ke.eper', 'C$haser',
       'Se_eker', 'Seeke-r', 'Seeke!r', 'Ch:aser', 'Keep-er', 'B+eater',
       'Se~eker', 'Ke[eper', 'S<eeker', 'K~eeper', 'Be<ater', "Chaser'",
       'B?eater', 'Seek%er', 'Bea)ter', "Kee'per", 'B\\eater', 'S_eeker',
       'See+ker', 'Seeke/r', 'Seeke}r', 'K|eeper', 'C>haser', 'Kee)per',
       'Cha=ser', 'Ch~aser', 'Kee#per', 'Cha~ser', 'Chase,r', 'Keep{er',
       'Beater`', 'Chase!r', 'C,haser', 'Seeker!', 'Ke_eper', 'See"ker',
       'Be%ater', 'C\\haser', 'Seek~er', 'Chas}er', 'Chaser;', 'Seeker<',
       'Se%eker', 'S*eeker', 'Beat]er', 'B/eater', 'See@ker', 'Keepe*r',
       'Cha#ser', 'Beate?r', 'Bea^ter', 'Seek_er', 'Seeker$', 'Chaser~',
       'Se]eker', 'Keeper<', 'Ke{eper', 'B)eater', 'Kee>per', 'K$eeper',
       'Seek]er', 'Se#eker', 'Ch|aser'], dtype=object)

In [15]:
df = clean_quidditch_position(df)
df["Quidditch Position"].unique()

array(['Beater', 'Chaser', 'Seeker', 'Keeper'], dtype=object)

### üîé 3. Find Misspellings in `Student Name`

In [16]:
threshold = 0.8
misspellings_df = check_misspelling(df, column="Student Name", threshold=threshold)

misspellings_df

                  Value 1             Value 2  Similarity
0         Parvati MalfoWy      Parvati Malfoy      0.9231
1         Parvati MalfoWy     Parvati Malfovy      0.9231
2         Parvati MalfoWy     Parvati Maltfoy      0.9231
3         Parvati MalfoWy     Parvati Malqfoy      0.8571
4         Parvati MalfoWy     Parvati Marlfoy      0.9231
...                   ...                 ...         ...
24768  Hermione aFinnigan  Hermione Fiannigan      1.0000
24769      Susan Spinneot     Seamus Spinnaet      0.8333
24770  Hermieone Finnigan  Hermione Fiannigan      1.0000
24771     Seamus Spinnaet     Seamus SpinFnet      0.9167
24772         Pansy Brown        Pansy Bprown      0.9091

[24773 rows x 3 columns]

### üè† 4. Clean `House` Names

In [17]:
df["House"].unique()

array(['Slytherin', 'Gryffindor', 'Ravenclaw', 'Hufflepuff', 'SLYTHERIN',
       'RAVENCLAW', 'HUFFLEPUFF', 'GRYFFINDOR'], dtype=object)

In [18]:
df = clean_House(df)
df['House'].unique()

array(['Slytherin', 'Gryffindor', 'Ravenclaw', 'Hufflepuff'], dtype=object)

### ‚úçÔ∏è 5. Correct `Harry Potter` Name Variants

In [20]:
correct_name = 'Harry Potter'
corrections = generate_corrections_mapping(misspellings_df, correct_name)

print("The corrections are:")
print(corrections)

The corrections are:
{'Harry cPotter': 'Harry Potter', 'Harry Pottefr': 'Harry Potter', 'Harry Pojtter': 'Harry Potter', 'Harry Poktter': 'Harry Potter', 'Harry PotterO': 'Harry Potter', 'Haqrry Potter': 'Harry Potter', 'Harry PoJtter': 'Harry Potter', 'HarrLy Potter': 'Harry Potter', 'Harry PotNter': 'Harry Potter'}

In [21]:
df['Student Name'] = df['Student Name'].replace(corrections)

### üõ†Ô∏è 6. Validate and Fix Data Types

In [22]:
expected_formats = {
    'Student Name': 'string',
    'House': 'string',
    'Year': 'int32',
    'Wand Type': 'string',
    'Pet': 'string',
    'Potions Grade': 'string',
    'Defense Against the Dark Arts Grade': 'string',
    'Transfiguration Grade': 'string',
    'Spells Learned': 'int32',
    'Quidditch Position': 'string',
    'Points Earned for House': 'int32',
    'Detentions': 'int32',
    'Participation in Dueling Club': 'string',
    'Triwizard Tournament Involvement': 'string',
    'Items Owned': 'string',
    'Knuts Spent in Hogsmeade': 'int32',
    'Attendance at Classes': 'int32',
    'Magical Accidents': 'int32',
    'fileName': 'string',
    'loadDateTimeStamp': 'datetime64[ns]'
}

check_formats(df, expected_formats)

Correct Format Count: 1
Correct Columns: ['loadDateTimeStamp']
Incorrect formats found! Format Validation Failed ‚ùå
Incorrect Formats:

                            Column Name Current Format Expected Format
0                          Student Name         object          string
1                                 House         object          string
2                                  Year          int64           int32
3                             Wand Type         object          string
4                                   Pet         object          string
5                         Potions Grade         object          string
6   Defense Against the Dark Arts Grade         object          string
7                 Transfiguration Grade         object          string
8                        Spells Learned          int64           int32
9                    Quidditch Position         object          string
10              Points Earned for House          int64           int32
11                           Detentions          int64           int32
12        Participation in Dueling Club         object          string
13     Triwizard Tournament Involvement         object          string
14                          Items Owned         object          string
15             Knuts Spent in Hogsmeade          int64           int32
16                Attendance at Classes          int64           int32
17                    Magical Accidents          int64           int32
18                             fileName         object          string

In [23]:
convert_column_types(df, expected_formats)

,Student Name,House,Year,Wand Type,Pet,Potions Grade,Defense Against the Dark Arts Grade,Transfiguration Grade,Spells Learned,Quidditch Position,Points Earned for House,Detentions,Participation in Dueling Club,Triwizard Tournament Involvement,Items Owned,Knuts Spent in Hogsmeade,Attendance at Classes,Magical Accidents,fileName,loadDateTimeStamp
0,Seamus Potter,Slytherin,2,"9 inches, elm, veela hair core",Dragon,Outstanding,Exceeds Expectations,Outstanding,26,Beater,-100,3,No,No,"Time-Turner, Marauder's Map",88,74,5,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
1,Ginny Spinnet,Gryffindor,6,"9 inches, elm, veela hair core",Cat,Exceeds Expectations,Acceptable,Outstanding,11,Chaser,139,2,No,No,"Firebolt, Sneakoscope, Extendable Ears",99,67,6,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
2,Padma Parkinson,Gryffindor,4,"11 inches, holly, phoenix feather core",Muggle Born,Outstanding,Acceptable,Outstanding,19,Seeker,93,2,No,No,Invisibility Cloak,342,88,6,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
3,Dean Malfoy,Ravenclaw,1,"12 inches, yew, unicorn hair core",Toad,Exceeds Expectations,Exceeds Expectations,Exceeds Expectations,16,Seeker,-73,2,No,No,Time-Turner,233,45,5,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
4,Dean Malfoy,Ravenclaw,1,"10 inches, oak, dragon heartstring core",Owl,Exceeds Expectations,Outstanding,Exceeds Expectations,9,Keeper,90,0,No,Yes,"Marauder's Map, Sneakoscope",473,27,7,Hogwarts_Student_Data_20240101.csv,2024-12-05 22:53:29.684926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,Susan Potter,Slytherin,1,"11 inches, holly, phoenix feather core",Cat,Outstanding,Outstanding,Exceeds Expectations,24,Seeker,90,5,Yes,Yes,"Marauder's Map, Firebolt",399,40,1,Hogwarts_Student_Data_20240601.csv,2024-12-05 22:53:29.754107
47996,Alicyia Boot,Gryffindor,4,"11 inches, holly, phoenix feather core",Toad,Exceeds Expectations,Poor,Poor,28,Seeker,-9,1,Yes,Yes,"Extendable Ears, Marauder's Map, Invisibility ...",299,27,5,Hogwarts_Student_Data_20240601.csv,2024-12-05 22:53:29.754107
47997,Terry Granger,Ravenclaw,7,"9 inches, elm, veela hair core",Owl,Outstanding,Poor,Exceeds Expectations,12,Seeker,-47,4,Yes,No,"Sneakoscope, Firebolt",124,27,10,Hogwarts_Student_Data_20240601.csv,2024-12-05 22:53:29.754107
47998,Ron Bell,Hufflepuff,1,"9 inches, elm, veela hair core",Dragon,Exceeds Expectations,Acceptable,Acceptable,11,Chaser,75,5,Yes,No,"Firebolt, Sneakoscope",362,49,7,Hogwarts_Student_Data_20240601.csv,2024-12-05 22:53:29.754107
47999,Luna Potter,Gryffindor,4,"10 inches, oak, dragon heartstring core",Toad,Acceptable,Poor,Exceeds Expectations,6,Beater,-68,0,Yes,No,"Extendable Ears, Time-Turner, Marauder's Map",408,33,6,Hogwarts_Student_Data_20240601.csv,2024-12-05 22:53:29.754107

In [24]:
check_formats(df, expected_formats)

Correct Format Count: 20
Correct Columns: ['Student Name', 'House', 'Year', 'Wand Type', 'Pet', 'Potions Grade', 'Defense Against the Dark Arts Grade', 'Transfiguration Grade', 'Spells Learned', 'Quidditch Position', 'Points Earned for House', 'Detentions', 'Participation in Dueling Club', 'Triwizard Tournament Involvement', 'Items Owned', 'Knuts Spent in Hogsmeade', 'Attendance at Classes', 'Magical Accidents', 'fileName', 'loadDateTimeStamp']
All formats are correct! Format Validation Successful ‚úÖ

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Student Name                         48000 non-null  string
 1   House                                48000 non-null  string
 2   Year                                 48000 non-null  int32
 3   Wand Type                            48000 non-null  string
 4   Pet                                  48000 non-null  string
 5   Potions Grade                        48000 non-null  string
 6   Defense Against the Dark Arts Grade  48000 non-null  string
 7   Transfiguration Grade                48000 non-null  string
 8   Spells Learned                       48000 non-null  int32
 9   Quidditch Position                   48000 non-null  string
 10  Points Earned for House              48000 non-null  int32
 11  Detentions                           48000 non-null  int32
 12  Participation in Dueling Club        48000 non-null  string
 13  Triwizard Tournament Involvement     48000 non-null  string
 14  Items Owned                          48000 non-null  string
 15  Knuts Spent in Hogsmeade             48000 non-null  int32
 16  Attendance at Classes                48000 non-null  int32
 17  Magical Accidents                    48000 non-null  int32
 18  fileName                             48000 non-null  string
 19  loadDateTimeStamp                    48000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int32(7), string(12)
memory usage: 6.0 MB

### üíæ Save the Silver Layer as `Silver.parquet`

In [26]:
df.to_parquet('./Medallion Architecture/Silver/Silver.parquet', index=False)